* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
#container {
    padding: 20px;
    width: 500px;
    min-height: 500px;
    border-radius: 15px;
    border: 2px solid rgb(100, 100, 100);
}
#container_taskForm {
    display: flex;
    flex-wrap: wrap;
}
label, input {
    padding: 10px;
    width: 100%;
}
input {
    border: 2px solid rgb(100, 100, 100);
    border-radius: 20px;
}
button {
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgb(100, 100, 100);
    transition: 0.2s ease-in-out;
}
button:hover {
    color: white;
    border: 2px solid green;
    background-color: green;
}
button:active {
    color: green;
    border: 2px solid green;
    background-color: transparent;
}
