* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
#container {
    padding: 20px;
    width: 90vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    border: 2px solid rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
}
#container_taskForm {
    z-index: 2;
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    background-color: white;
}
label {
    font-size: large;
    font-weight: 700;
}
input {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 20px;
}
button {
    padding: 5px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgb(100, 100, 100);
    transition: 0.2s ease-in-out;
}
#container_taskView {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 10px;
}
.taskView_block {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.taskForm_submitButton:hover {
    color: white;
    border: 2px solid green;
    background-color: green;
}
.taskForm_submitButton:active {
    color: green;
    border: 2px solid green;
    background-color: transparent;
}
.taskView_eraseButton:hover {
    color: white;
    border: 2px solid red;
    background-color: red;
}
.taskView_eraseButton:active {
    color: red;
    border: 2px solid red;
    background-color: transparent;
}
hr {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
}

@media (pointer: coarse) {
    .taskForm_submitButton {
        color: green;
        border: 2px solid green;
        background-color: white;
        transition: none;
    }

    .taskView_eraseButton {
        color: red;
        border: 2px solid red;
        background-color: white;
        transition: none;
    }
}